<div class="h-full px-4 justify-evenly flex flex-col">
    <a class="" href="{% url 'new_extract' %}">
        <i class="w-10 h-10" data-lucide="plus-square"></i>
    </a>
    <a class="" href="{% url 'index' %}">
        <i class="w-10 h-10" data-lucide="line-chart"></i>
    </a>
    <a href="{% url 'profit' %}">
        <i class="w-10 h-10" data-lucide="trending-up"></i>
    </a>
    <a href="{% url 'damage' %}">
        <i class="w-10 h-10" data-lucide="trending-down"></i>
    </a>
    <a href="{% url 'accounts' %}">
        <i class="w-10 h-10" data-lucide="wallet"></i>
    </a>
</div>