<div class="profile">
    <div class="search-container">
        <div class="research">
            <div class="search">
                <form action="{% url 'index' %}" method="post" id="search" >
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" id="profile">
                        <i data-lucide="search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="user-container">    
        <div class="button"><a href="#">Login</a></div>
        <div class="button"><a href="#">Register</a></div>
        <div class="perfil">
            <a href="#">                    
                <i class="w-10 h-10" data-lucide="user-circle-2"></i>
            </a>
        </div>
    </div>
</div>