{% extends 'base/base.html' %}

{% load static %}

{% block title %}Accounts{% endblock title %}

{% block style %}<link rel="stylesheet" href="{%static 'core/css/accounts.css'%}">{% endblock style %}

{% block profile %}
<div class="profile">
    <div class="search-container">
        <div class="research">
            <div class="search">
                <form action="{% url 'accounts' %}" method="post" id="search" >
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" id="profile">
                        <i data-lucide="search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="user-container">    
        <div class="button"><a href="#">Login</a></div>
        <div class="button"><a href="#">Register</a></div>
        <div class="perfil">
            <a href="#">                    
                <i class="w-10 h-10" data-lucide="user-circle-2"></i>
            </a>
        </div>
    </div>
</div>
{% endblock profile %}

{% block content %}
<div class="content_account">
    <div class="flex gap-5 w-1/2 flex-wrap p-8">
        {% for account in account_list %}
        <div class="flex flex-col p-6 pb-0 min-w-[250px] border border-solid border-yellow-200 bg-yellow-50 rounded-md shadow">
            <div class="flex gap-3 font-bold mb-4">
                {% if account.type == 'DI' %}
                    <i data-lucide="banknote" class="stroke-2"></i>
                {% elif account.type == 'CC' %}
                    <i data-lucide="landmark" class="stroke-2"></i>
                {% elif account.type == 'CA' %}
                    <i data-lucide="credit-card" class="stroke-2"></i>
                {% else %}
                    <i data-lucide="piggy-bank" class="stroke-2"></i>
                {% endif %}
                <h1>{{account.name}}</h1>
            </div>
            <div class="flex justify-between items-center text-center gap-10">
                <div>Total</div>
                <p class="">{{account.value}}</p>
            </div>
            <div class="flex justify-between items-center text-center gap-10">
                <div>Valor previsto</div>
                <p class="">{{account.future_value}}</p>
            </div>
            <div class="flex border-t-[0.5px] border-solid border-yellow-200 mt-6 py-4 text-right hover:text-secondary">
                
                <a class="pr-16" href="{% url 'new_extract_from_account' account.id %}">Adicionar despesa</a>
                <form action="{% url 'delete_account' account.id %}" id="form_pay_{{account.id}}" method="POST">{% csrf_token%}
                    <button type="submit" value="" name="delete_button_{{account.id}}">
                        <i data-lucide="trash-2"></i>
                    </button>
                </form>
                <a href="{% url "account" account.id %}">
                    <i data-lucide="pen-square"></i>
                </a>
            </div>
        </div>
        {% empty %}
        <div class="empty_account">
            <p>Nenhuma conta foi criada</p>
        </div>
        {% endfor %}
    </div>  
    <a href="{% url 'new_account' %}">
        <div class="new_account border border-solid border-yellow-200 bg-yellow-50 rounded-md shadow">
            <i class="icon" data-lucide="plus-circle">  </i> Nova conta
        </div>
    </a>
    
</div>
{% endblock content %}