{% extends 'base/base.html' %}

{% load static %}

{% block title %}Conta{% endblock title %}

{% block style %}<link rel="stylesheet" href="{%static 'core/css/update.css'%}">{% endblock style %}

{% block content %}
<form action="{% url 'account_forms_update' id %}" method="post">
    {% csrf_token%}
    {{forms}}
    <div class="input">
    <a href="{% url 'accounts' %}"><input class="voltar" type="button"value="Voltar"></a> 
    <input type="submit" value="Alterar">
</div>
</form>
{% endblock content %}