{% extends 'base/base.html' %}

{% load static %}

{% block style %}<link rel="stylesheet" href="{%static 'core/css/index.css'%}">{% endblock style %}
{% block content %}
    <div class="balance">
        <div class="bg-yellow-50 grid gap-y-3 w-1/5 p-6 border-solid border-yellow-400 border rounded-md">
            <div class="w-full flex justify-between items-center text-center">
                <p class="text-sm">Total</p>
                <i data-lucide="coins" class="text-sm"></i>
            </div>
            <p class="text-3xl font-bold">
                {{money}}
            </p>
        </div>
        <div class="bg-yellow-50 grid gap-y-3 w-1/5 p-6 border-solid border-yellow-400 border rounded-md">
            <div class="w-full flex justify-between items-center text-center">
                <p class="text-sm">Previsão</p>
                <i data-lucide="calendar-clock" class="text-sm"></i>
            </div>
            <p class="text-3xl font-bold">
                {{future_money}}
            </p>
        </div>
    </div>
    <table class="w-[90%] m-auto spacing-y-5" id="teste">
        <thead>
            <tr class="bg-yellow-100 shadow-none text-yellow-950 capitalize">
                <th class="border-y border-l border-solid border-yellow-400">Pay</th>
                <th class="border-y border-solid border-yellow-400">Name</th>
                <th class="border-y border-solid border-yellow-400">Type</th>
                <th class="border-y border-solid border-yellow-400">Account</th>
                <th class="border-y border-solid border-yellow-400">date</th>
                <th class="border-y border-r border-solid border-yellow-400">value</th>
            </tr>
        </thead>
        <tbody>
    {% for extract in extract_list %}
        <tr>
            
            <td class="">
                <form action="{% url 'processar_formulario' extract.id %}" id="form_pay_{{extract.id}}" method="POST">{% csrf_token%}
                {% if extract.pay == False %}
                    <input type="checkbox" name="pay_checkbox_{{extract.id}}" value="" onchange="document.getElementById('form_pay_{{extract.id}}').submit()">
                {% else %}
                    <input type="checkbox" name="pay_checkbox_{{extract.id}}" value="" checked="False" onchange="document.getElementById('form_pay_{{extract.id}}').submit()">
                {% endif %}
                </form>
            </td>
            

            <td class="">{{extract.name}}</td>

            <td class="flex justify-center">
            {% if extract.type == 'P' %}   
                <i data-lucide="plus-circle"></i>
            {% else %}
                <i data-lucide="minus-circle"></i>
            {% endif %}
            </td>

            <td class="">{{extract.account}}</td>

            <td class="">{{extract.show_date}}</td>

            <td class="">{{extract.show_money}}</td>

            
        </tr>
        {% empty %}
        <tr>
            <p>Nenhum item cadastrado</p>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock content %}

