{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <div class="balance">
        <div class="current_balance">
            {{money.show_value}}
        </div>
        <div class="expected_balance">
            {{money.show_future_value}}
        </div>
    </div>

<table class="table_extract">
    <tr>
        <th>Pay</th>
        <th>Name</th>
        <th>Typ</th>
        <th>Account</th>
        <th>date</th>
        <th>value</th>

    </tr>
    
        {% for extract in extract_list %}
        <tr>
            <td>
            {% if extract.pay == False %}
                <input type="checkbox" name="pay_checkbox_{{extract.id}}" id="" value="">
            {% else %}
                <input type="checkbox" name="pay_checkbox_{{extract.id}}" id="" value="" checked="False">
            {% endif %}
            </td>

            <td>{{extract.name}}</td>

            <td>
            {% if extract.type == 'P' %}   
                    <ion-icon name="add-circle-outline"></ion-icon>
            {% else %}
                    <ion-icon name="remove-circle-outline"></ion-icon>
            {% endif %}
            </td>
            <td>{{extract.account}}</td>

            <td>{{extract.show_date}}</td>

            <td>{{extract.show_money}}</td>

            
        </tr>
        {% empty %}
        <tr>
            <p>Nenhum item cadastrado</p>
        </tr>
        {% endfor %}
    
</table>
    
{% endblock content %}

