{% extends 'base/base.html' %}

{% load static %}

{% block title %}Profit{% endblock title %}

{% block style %}<link rel="stylesheet" href="{%static 'core/css/profit.css'%}">{% endblock style %}

{% block content %}
    <div class="balance">
        <div class="bg-yellow-50 grid gap-y-3 w-1/5 p-6 border-solid border-yellow-400 border rounded-md">
            <div class="w-full flex justify-between items-center text-center">
                <p class="text-sm">Total</p>
                <i data-lucide="arrow-up-circle" class="text-sm"></i>
            </div>
            <p class="text-3xl font-bold">
                {{extract_profit}}
            </p>
        </div>
    </div>
    <table class="w-[90%] m-auto spacing-y-5">
        <thead>
            <tr class="bg-yellow-100 shadow-none text-yellow-950 capitalize">
                <th class="border-y border-l border-solid border-yellow-400">Name</th>
                <th class="border-y border-solid border-yellow-400">Type</th>
                <th class="border-y border-solid border-yellow-400">Account</th>
                <th class="border-y border-solid border-yellow-400">date</th>
                <th class="border-y border-r border-solid border-yellow-400">value</th>
            </tr>
        </thead>
  <tbody>
    {% for extract in profits %}
    <tr>
        <td class="">
        {% if extract.pay == False %}
            <input type="checkbox" name="pay_checkbox_{{extract.id}}" id="" value="">
        {% else %}
            <input type="checkbox" name="pay_checkbox_{{extract.id}}" id="" value="" checked="False">
        {% endif %}
        </td>

        <td class="">{{extract.name}}</td>

        <td class="">{{extract.account}}</td>

        <td class="">{{extract.show_date}}</td>

        <td class="">{{extract.show_money}}</td>

        
    </tr>
    {% empty %}
    <tr>
        <p>Nenhum item cadastrado</p>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}