td, th{
    text-align: center;
    padding: 10px 0;
    min-width: fit-content;
}

th tr {
  border-style: solid;
  border-radius: 25px;
  padding: 10px 0;
}

thead th:first-child {
    border-radius: 10px 0 0 0;
} 

thead th:last-child {
    border-radius: 0 10px 0 0;
}
td.icon-table{
    display: flex;
    color: #8f8f8f59;
}

div.icon-table{
    width: fit-content;
    align-items: center;
}

svg.lucide.lucide-pen-square{
    align-items: end;
}